body {
  min-width: 1000px;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 头部 */
header {
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.header {
  font-size: 40px;
}
.hidden {
  display: none;
}
.tag-current {
  background: #fff;
}
.bg-panel {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}